@model IEnumerable<WebBanDoCongNghe.Models.tb_ProductCategory>


@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {
        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@item.Link">@item.TenDanhMuc</li>
    }
}

