body {
}
.fancybox-slide .fancybox-content {
    border-radius: 50%;
    overflow: hidden;
}

.fancybox-slide img {
    border-radius: 50%;
}

body {
    margin: 0;
    height: 100%
}

#top-logo {
    vertical-align: middle;
    width: 90px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
}

.logo {
    width: 90px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    top: 0;
    margin-top: -60px;
    margin-left: 500px;
    display: inline-block;
}

#div-top {
    height: auto;
    background: #333;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
    transition: top 0.3s;
    display: block;
}

#nav {
    display: inline-block;
    margin-bottom: 0;
}

    #nav li {
        display: inline-flex
    }

        #nav li a {
            color: whitesmoke;
            text-decoration: none;
            line-height: 50px;
            padding: 0 50px;
            font-size: 17px;
        }

h3 {
    color: deeppink;
}

#danhsach li a {
    text-decoration: none;
    color: hotpink;
}

#nav li:hover a {
    color: black;
    background-color: hotpink;
}

#nav .subnav {
    display: none
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 100px;
    height: 20px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
}
/*het xai*/
.wrap {
    width: 60%;
    position: absolute;
    padding: 0 5px;
    top: 8px;
    left: 400px;
}


#div-top .search-btn {
    float: right;
    padding: 13px 41px;
}

    #div-top .search-btn:hover {
        color: white;
        background-color: deeppink;
    }

#div-top .ti-github {
    padding: 17px 41px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    float: right;
    z-index: 2;
}

.navlogin {
    float: right;
}

    .navlogin .navlog {
        position: absolute;
        background-color: lightgrey;
        right: 0px;
        top: 50px;
        display: inline-block;
    }

#div-top .navlogin .navlog li:hover a {
    position: relative;
}

#div-top .ti-github:hover {
    color: white;
    background-color: deeppink;
}

#div-top .search-icon {
    color: #ffff;
    font-size: 20px;
}


#div-main {
    display: flex;
    flex-direction: row;
}

#danhsach li:hover a {
    background-color: lightpink;
}

#div-left {
    width: 30%;
    height: auto;
    font-family: Arial;
    font-size: 20px;
    margin-top: 50px;
    background-color: whitesmoke;
}

    #div-left h3 {
        text-align: center;
    }

#div-right {
    width: 100%;
    background-size: 40in;
    background-color: #f1f1f1;
}

#div-footer {
    height: 150px;
    color: whitesmoke;
    background: linear-gradient(to right,#6E6E6E,#151515);
    bottom: 0px;
    text-align: center;
    left: 50%;
    padding-top: 25px;
}

.sidebar-left {
    max-width: 25%;
    color: #282828;
    background: #ffffff;
    height: fit-content;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 5%);
    border-radius: 4px;
    padding-bottom: 12px;
}

.sidebar-right {
    padding: 70px 50px;
}

.input-search {
    width: 500px;
    border-radius: 30px;
    border: none;
    background: #fbfbfb;
    height: 32px;
    font-size: 14px;
    padding: 0 20px 0 30px;
    background-image: url(/Fonts/themify-icons/SVG/search.svg);
    background-repeat: no-repeat;
    background-position: 8px 10px;
    background-size: 14px 14px
}

.account {
    display: inline-block;
    position: relative;
    min-width: 50px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    background: #1e1e27;
}

    .account > a {
        display: block;
        color: #b5aec4;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        font-size: 13px;
    }

        .account > a > i {
            margin-left: 8px;
        }

    .account:hover .account_selection {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }

.account_selection {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

    .account_selection li {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 50px;
    }

        .account_selection li a {
            display: block;
            color: #232530;
            border-bottom: solid 1px #dddddd;
            font-size: 14px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            .account_selection li a:hover {
                color: #b5aec4;
            }

        .account_selection li:last-child a {
            border-bottom: none;
        }

        .account_selection li a i {
            margin-right: 10px;
